<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4167981924-g020o73s7pai78p6cotafmrhoa781nu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4167981924-g020o73s7pai78p6cotafmrhoa781nu1</string>
	<key>API_KEY</key>
	<string>AIzaSyCk_wOkbtp-47_AzN-3oNfAdpT0NjpRQSI</string>
	<key>GCM_SENDER_ID</key>
	<string>4167981924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aliakyildiz.MyPetly</string>
	<key>PROJECT_ID</key>
	<string>mypetly-44</string>
	<key>STORAGE_BUCKET</key>
	<string>mypetly-44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4167981924:ios:4092d22c5672ed01d53871</string>
</dict>
</plist>